@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  
  --color-primary: #2563EB;
  --color-primary-foreground: #FFFFFF;
  
  --color-background: #F8FAFC;
  --color-foreground: #0F172A;
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --breakpoint-3xl: 120rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from { height: 0 }
    to { height: var(--radix-accordion-content-height) }
  }

  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height) }
    to { height: 0 }
  }
}

/* Base styles */
@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
    antialiased: subpixel-antialiased;
  }
}

/* Utilities to match design */
@utility text-balance {
  text-wrap: balance;
}

